<!-- this example code is taken from Hants repo here: https://github.com/hantswilliams/HHA_504_2023/blob/main/WK2/flaskapp_0/templates/about.html and then modified for the assignment -->

{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is a healthcare application designed to show the happiness ranking of countries around the world.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li><strong> Happiness Rank</strong> : Rank of the country based on the Happiness Score</li>
            <li><strong> Happiness Score</strong> : A metric measured in 2015 by asking the sampled people the question: "How would you rate your happiness on a scale of 1-10.</li>
            <li><strong> Standard Error (of the happiness score)</strong> </li>
            <li><strong> Economy (GDP per Capita)</strong> :The extent to which GDP contributes to the calculation of the Happiness Score.</li>
            <li><strong> Family</strong> : The extent to which Family contributes to the calculation of the Happiness Score</li>
            <li><strong> Health (Life Expectancy)</strong> :The extent to which Life expectancy contributed to the calculation of the Happiness Score</li>
            <li><strong> Freedom</strong> :The extent to which Freedom contributed to the calculation of the Happiness Score.</li>
            <li><strong> Trust (Government Corruption)</strong>:The extent to which Perception of Corruption contributes to Happiness Score.</li>
            <li>and more!</li>
        </ul>
    </section>



{% endblock %}

   
   
   
