<!-- this example code is taken from Hants repo here: https://github.com/hantswilliams/HHA_504_2023/blob/main/WK2/flaskapp_0/templates/about.html and then modified for the assignment -->

{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>This is a healthcare application designed to show the happiness ranking of countries around the world.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Features</h2>
        <ul class="list-disc pl-5">
            <li>Happiness Rank</li>
            <li>Happiness Score</li>
            <li>Standard Error (of the happiness score)</li>
            <li>and more factors!</li>
        </ul>
    </section>



{% endblock %}

   
   
   
