<!-- this example code is taken from Hants repo here: https://github.com/hantswilliams/HHA_504_2023/blob/main/WK2/flaskapp_0/templates/base.html and then modified for the assignment -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Healthcare App</title>
    
    <!-- Tailwind CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-200">

    <header class="bg-blue-600 text-white p-4">
        <h1 class="text-2xl">World Happiness Report 2015</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/data" class="hover:underline">Data</a></li>
            </ul>
        </nav>
    </header>

    <main class="p-4">

        {% block content %}
        <h1>This is an site that views the World Happiness Report from 2015. Countries are evaluated on several different factors and ranked accordingly. The dataset was acquired via this link : https://www.kaggle.com/datasets/unsdsn/world-happiness. </h1>
        <p>To view this data, click on the data tab.</p>
        {% endblock %}

    </main>

    <footer class="bg-blue-600 text-white p-4 mt-6">
        <p>© 2023 My Healthcare App. All Rights Reserved.</p>
    </footer>
</body>

</html>